In [2]:
from sensor.utils import read_yaml_file

Reading .env file

In [3]:
read_yaml_file("/config/workspace/schema.yaml")

{'drop_columns': ['br_000',
  'bq_000',
  'bp_000',
  'ab_000',
  'cr_000',
  'bo_000',
  'bn_000'],
 'target_column': 'class',
 'required_columns': ['class',
  'aa_000',
  'ac_000',
  'ad_000',
  'ae_000',
  'af_000',
  'ag_000',
  'ag_001',
  'ag_002',
  'ag_003',
  'ag_004',
  'ag_005',
  'ag_006',
  'ag_007',
  'ag_008',
  'ag_009',
  'ah_000',
  'ai_000',
  'aj_000',
  'ak_000',
  'al_000',
  'am_0',
  'an_000',
  'ao_000',
  'ap_000',
  'aq_000',
  'ar_000',
  'as_000',
  'at_000',
  'au_000',
  'av_000',
  'ax_000',
  'ay_000',
  'ay_001',
  'ay_002',
  'ay_003',
  'ay_004',
  'ay_005',
  'ay_006',
  'ay_007',
  'ay_008',
  'ay_009',
  'az_000',
  'az_001',
  'az_002',
  'az_003',
  'az_004',
  'az_005',
  'az_006',
  'az_007',
  'az_008',
  'az_009',
  'ba_000',
  'ba_001',
  'ba_002',
  'ba_003',
  'ba_004',
  'ba_005',
  'ba_006',
  'ba_007',
  'ba_008',
  'ba_009',
  'bb_000',
  'bc_000',
  'bd_000',
  'be_000',
  'bf_000',
  'bg_000',
  'bh_000',
  'bi_000',
  'bj_000',
  'bk_000',
  'bl_000',
  'bm_000',
  'bs_000',
  'bt_000',
  'bu_000',
  'bv_000',
  'bx_000',
  'by_000',
  'bz_000',
  'ca_000',
  'cb_000',
  'cc_000',
  'cd_000',
  'ce_000',
  'cf_000',
  'cg_000',
  'ch_000',
  'ci_000',
  'cj_000',
  'ck_000',
  'cl_000',
  'cm_000',
  'cn_000',
  'cn_001',
  'cn_002',
  'cn_003',
  'cn_004',
  'cn_005',
  'cn_006',
  'cn_007',
  'cn_008',
  'cn_009',
  'co_000',
  'cp_000',
  'cq_000',
  'cs_000',
  'cs_001',
  'cs_002',
  'cs_003',
  'cs_004',
  'cs_005',
  'cs_006',
  'cs_007',
  'cs_008',
  'cs_009',
  'ct_000',
  'cu_000',
  'cv_000',
  'cx_000',
  'cy_000',
  'cz_000',
  'da_000',
  'db_000',
  'dc_000',
  'dd_000',
  'de_000',
  'df_000',
  'dg_000',
  'dh_000',
  'di_000',
  'dj_000',
  'dk_000',
  'dl_000',
  'dm_000',
  'dn_000',
  'do_000',
  'dp_000',
  'dq_000',
  'dr_000',
  'ds_000',
  'dt_000',
  'du_000',
  'dv_000',
  'dx_000',
  'dy_000',
  'dz_000',
  'ea_000',
  'eb_000',
  'ec_00',
  'ed_000',
  'ee_000',
  'ee_001',
  'ee_002',
  'ee_003',
  'ee_004',
  'ee_005',
  'ee_006',
  'ee_007',
  'ee_008',
  'ee_009',
  'ef_000',
  'eg_000']}

In [4]:
import pandas as pd

In [5]:
df=pd.read_csv("/config/workspace/artifact/08_10_2023__10_30_13/data_ingestion/dataset/train.csv")

In [6]:
df

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,2748,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,7922.0,2960.0,5674.0,3746.0,4112.0,86834.0,1552.0,0.0,NaN,NaN
1,neg,376,0.0,8.000000e+00,8.0,0.0,0.0,0.0,0.0,0.0,...,3464.0,1572.0,1210.0,1104.0,2070.0,7356.0,0.0,0.0,0.0,0.0
2,neg,362,2.0,2.200000e+01,NaN,0.0,0.0,0.0,0.0,0.0,...,1144.0,458.0,1168.0,11612.0,420.0,276.0,0.0,0.0,0.0,0.0
3,neg,568254,0.0,NaN,NaN,NaN,NaN,0.0,0.0,2206.0,...,6152888.0,2242714.0,1789130.0,1229658.0,1749164.0,3363266.0,63332.0,178.0,NaN,NaN
4,neg,32,NaN,2.130706e+09,40.0,0.0,0.0,0.0,0.0,0.0,...,542.0,40.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28945,neg,536,0.0,1.400000e+01,14.0,0.0,0.0,0.0,0.0,0.0,...,3256.0,1468.0,3208.0,9664.0,2756.0,3176.0,0.0,0.0,0.0,0.0
28946,neg,25018,NaN,7.200000e+01,42.0,0.0,0.0,0.0,0.0,0.0,...,358564.0,259968.0,400696.0,137048.0,34802.0,18562.0,37892.0,5714.0,0.0,0.0
28947,neg,102828,NaN,2.260000e+02,214.0,0.0,0.0,0.0,0.0,0.0,...,631268.0,293594.0,581052.0,505272.0,489266.0,446102.0,1169036.0,171022.0,0.0,0.0
28948,neg,10564,NaN,2.130706e+09,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28949,neg,171666,NaN,0.000000e+00,2610.0,0.0,0.0,0.0,0.0,0.0,...,926426.0,914048.0,738956.0,1109634.0,3897054.0,140654.0,5668.0,0.0,0.0,0.0

In [7]:
null_report=(df.isna().sum()*100)/df.shape[0]

In [8]:
list(null_report[null_report>5].index)

['ab_000',
 'ac_000',
 'ad_000',
 'ak_000',
 'bk_000',
 'bl_000',
 'bm_000',
 'bn_000',
 'bo_000',
 'bp_000',
 'bq_000',
 'br_000',
 'bx_000',
 'ca_000',
 'cc_000',
 'cf_000',
 'cg_000',
 'ch_000',
 'cl_000',
 'cm_000',
 'co_000',
 'cr_000',
 'ct_000',
 'cu_000',
 'cv_000',
 'cx_000',
 'cy_000',
 'cz_000',
 'da_000',
 'db_000',
 'dc_000',
 'df_000',
 'dg_000',
 'dh_000',
 'di_000',
 'dj_000',
 'dk_000',
 'dl_000',
 'dm_000',
 'eb_000',
 'ec_00',
 'ed_000']